.bg-container{
    background-color: #f16262;
    background-size: cover;
    height:100vh;
}
.heading{
    color:white;
    font-family: 'Roboto';
    font-size:40px;
    font-weight: bold;
    text-align: center;
    padding:10px;
}
.inner-card{
    background-color: white;
    border-radius:20px;
    height:400px;
    margin:20px;

}
.inner-heading{
    color:black;
    font-size:30px;
    font-family: 'Bree Serif';
    padding:20px;
}
.button{
    height:50px;
    width:80px;
    cursor: pointer;
}
.label-heading{
    color:black;
    margin-left:160px;
}